*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(90deg,rgb(255, 151, 54),blue);
}

h1{
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5rem;
    color: rgb(54, 18, 87);
}

label{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
#location{
    line-height: 2rem;
}

#weather {
    margin-top: 50px;
}

#location-input {
    margin-bottom: 20px;
}

button{
    padding: 1rem 2rem;
    border: solid 1px darkcyan;
    cursor: pointer;
    border-radius: 1rem;
    background-image: linear-gradient(90deg,darkcyan,cyan);
    color: aliceblue;
    font-weight: bold;
}

button:hover{
    background-image: linear-gradient(90deg,blue,black);
    border-color: yellow;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 3rem;
        padding-left: 0;
        padding-right: 0;
    }
}
